<div style="background-color: #19171a; text-align: center; border-radius: 0.25rem;">
  <h2 style="padding: 1rem; color: #e9322e;">Email Confirmation</h2>
  <h3 style="padding: 0.25rem; color: white;">Welcome {{userEmail}}!</h3>
  <p style="padding: 0.25rem; color: white; font-size: 1.2rem;">To confirm your email, please click button below</p>
  <button style="background-color: #e9322e; font-size: 1rem; padding: 1rem; margin: 2rem; border-radius: 0.25rem; border: none;">
    <a href="{{confirmationLink}}" target="_blank" style="color: white; text-decoration: none;">Confirm your email</a>
  </button>
</div>
